.form {
  width: 320px;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.btn {
  height: 35px;
  width: 130px;
  padding: 5px;
  border-radius: 5px;
  /* background-color: gray; */
}
